$lightgrey: #f8f9fa;


.headeR{
    padding: 5px 15px 5px 10px;
    position: fixed;
    top: 0;
    width:  100%;
    height: 50px;
    text-align: right;
}

.anotherContainer {
    padding: 20px 25px 0px 25px;
    border: 1px solid $lightgrey!important;
}  

.container {
    padding: 10px;
    margin-top: 50px;
}

.komputerHeader{
    padding: 50px 10px 40px 10px;
    text-align: center;  
    background: center url(https://stonecreekinsurance.com/wp-content/uploads/2014/03/computer-header.jpg); 
}

.komputerHeader h1{
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    text-shadow: 10px #130c0cbd;
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 4px;
    transition: 0.6s;

}

.col{
    padding: 6px;
}

.card{
    border: 0px solid rgb(97 20 20 / 13%);
    box-shadow: 1px 3px 5px  #3c3737bd;
}

.card li{
    list-style: circle;
    text-align: left;
    font-size: 12px;
}

.specsContainer{
    font-size: 14px;
    text-align: justify;
    padding: 0px 50px 0px 0px;
}

.footers {
    text-align: center;
}